.sectionTitle {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--accent-color-green);
}

.conclusionSection {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.conclusionTitle {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.conclusionText {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px auto;
}

.ctaButtonConclusion {
    background-color:  var(--accent-color-green);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    }

.ctaButtonConclusion:hover {
    background-color: var(--accent-color-gold);
}
.secondaryButtonConclusion{
    background-color: var(--accent-color-gold); 
    border: none;
    color: white;
     font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    }
    
.secondaryButtonConclusion:hover {
    background-color:  var(--accent-color-green);
     transform: translateY(-5px); /* Deslocamento mais visível */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

