.sectionTitle {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--accent-color-green);
  }
  
.extrasContainer {
  padding: 20px;
  background-color: #f9f9f9;
}

.extrasTitle {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.extrasContent {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
}

