.navbar {
  background-color: var(--navbar-bg-color);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;  
  padding-right: 25px; 
  width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
  box-sizing: border-box;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--accent-color-green);
  text-decoration: none;
}

.navLinksContainer {
  display: flex;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin-left: 25px;
}

.navLinks a {
  color: var(--navbar-text-color);
  text-decoration: none;
  font-weight: 200;
  transition: color 0.2s ease-in-out;
  padding: 0.5rem 0;
  position: relative;
}

.navLinks a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color-gold);
  transition: width 0.3s ease;
}

.navLinks a:hover,
.navLinks a.active { /* Você pode adicionar a classe .active via JS para o link da seção atual */
  color: var(--accent-color-gold);
}

.navLinks a:hover::after,
.navLinks a.active::after {
  width: 100%;
}

.themeToggleButton {
  background: none;
  border: none;
  color: var(--navbar-text-color);
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 20px;
  z-index: 11000;
}

.menuToggle {
  display: none; /* Escondido em telas maiores */
  background: none;
  border: none;
  color: var(--navbar-text-color);
  font-size: 1.8rem;
  cursor: pointer;
}

/* Responsividade para o menu mobile */
@media (max-width: 992px) { /* Ajuste este breakpoint conforme necessário */
  .navLinksContainer {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: calc(100vh - 60px); /* ou ajuste conforme a altura do seu header */
  overflow-y: auto; /* permite rolar se exceder o limite */
  background-color: var(--secondary-bg-color);
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 9999;
}


  .navLinksContainer.active {
    display: flex; /* Mostra quando o menu está ativo */
  }

  .navLinks {
    flex-direction: column;
    width: 100%;
  }

  .navLinks li {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .navLinks a {
    display: block;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--primary-bg-color); /* Linha divisória sutil */
  }

  .navLinks li:last-child a {
    border-bottom: none;
  }

  .menuToggle {
    display: block; /* Mostra o botão de toggle */
  }
}