.innovationSection {
  padding: 60px 0;
  background-color: var(--primary-bg-color);
    box-shadow: inset 0 6px 8px -6px var(--liner-division-color);

}

.innovationHeader {
  text-align: center;
  margin-bottom: 40px;
}

.innovationTitle {
  color: var(--accent-color-green);
  font-size: 2rem;
}

.innovationSubtitle {
  color: var(--text-color);
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.innovationCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.innovationCard {
  background-color: var(--secondary-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  padding: 20px;
  text-align: center;
}

.innovationCard:hover {
  transform: scale(1.02);
}

.cardIconContainer {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
   color: var(--card-icon-fill);
}

.cardIcon {
  width: 48px;
  height: 48px;
   fill: var(--card-icon-fill);
  transition: fill 0.3s ease;
}

.cardTitle {
  color: var(--accent-color-green);
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.cardDescription {
  color: var(--text-color);
  margin: 10px 0;
  text-align: var(--card-description-align);
}

.cardHighlight {
  color: var(--accent-color-gold);
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .innovationCards {
    grid-template-columns: 1fr;
  }
  .innovationTitle {
    font-size: 1.8rem;
  }
  .cardDescription {
    text-align: center;
  }
}
