.scrollToTopContainer {
    position: fixed;
    bottom: 38%; 
    left: 92.2%;  
    z-index: 999; 
}

.scrollToTopButton {
    background-color: rgba(0, 123, 255, 0.7); 
    color: white;
    border: none;
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0.8; 
}

.scrollToTopButton:hover {
    background-color: rgba(0, 123, 255, 1);
    opacity: 1; 
}

@media (max-width: 768px) {
  .scrollToTopContainer {
  left: 89%;
    bottom: 25%; 
  }
  }
@media (max-width: 480px) {
     .scrollToTopContainer {
  left: 83%;
    bottom: 27%; 
  }
}